@model Lab.EF.MVC.Models.DogView
@{
    ViewBag.Title = "Dog Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="text-center" id="div1">
        <h2></h2>
        <h2>Dog pictures</h2>
        <img src="@Html.Raw(Model.Image)" class="rounded mx-auto d-block" style="max-width:50%; max-height:50%;"/>

    </div>
    <div class="text-center">
        <a href="@Url.Action("Index", "Dog")">
            <button type="button" class="btn btn-primary">Retry</button>
        </a>
    </div>

</body>

</html>
